body {
  width: 1216px;
  height: 1455px;
  margin: 0px 0px 0px 0px;
}

@page {
  margin: 1px 1px 1px 1px;
}

img {
  position: absolute;
}

img.bg {
  left: 81px;
  top: 81px;
  z-index: 0;
  width: 1054px;
}

img.u {
  width: 101px;
  top: 84px;
  z-index: 1;
}

img.l {
  width: 101px;
  top: 824px;
  z-index: 1;
}

img.c0 {
  left: 85px;
}

img.c1 {
  left: 190px;
}

img.c2 {
  left: 295px;
}

img.c3 {
  left: 400px;
}

img.c4 {
  left: 505px;
}

img.c5 {
  left: 610px;
}

img.c6 {
  left: 715px;
}

img.c7 {
  left: 820px;
}

img.c8 {
  left: 925px;
}

img.c9 {
  left: 1030px;
}
