.pad {
  border: 1px solid red;
  width: 512px;
  height: 512px;
}

.preview {
  border: 1px solid green;
  width: 202px;
  height: 202px;
}

div {
  display: inline-block;
}

.lefthalf {
  float: left;
  width: 512px;
  height: 512px;
  padding: 0px;
  margin: 0px;
}

.righthalf {
  width: 512px;
  height: 512px;
  padding: 10px;
}

.preview101 {
  width: 101px;
  height: 101px;
}

.preview101 > svg {
  width: 100%;
  height: 100%;
  padding: 0;
}

.preview202 {
  width: 202px;
  height: 202px;
}

.preview202 > svg {
  width: 100%;
  height: 100%;
  padding: 0;
}

.editbuttons {
  padding: 0;
}

.editbuttons [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.editbuttons [type=radio] + img {
  outline: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.editbuttons [type=radio]:checked + img {
  border-radius: 5px;
  border: 2px solid #f00;
}

input[type=image] {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border: 2px solid #888;
}

.functions {
  padding: 0
}