.pad {
  border: 1px solid red;
  width: 512px;
  height: 512px;
}

div {
  display: inline-block;
}

.lefthalf {
  float: left;
  width: 512px;
  height: 512px;
  padding: 0px;
  margin-right: 20px;
}

.righthalf {
  width: 512px;
  height: 512px;
  padding: 10px;
}

.righthalf label {
  pointer-events: none;
  background-color: blue;
  color: white;
  border-radius: 5px;
  margin: 5px;
  font-family: system-ui;
  font-size: xx-large;
}

.preview101 {
  width: 101px;
  height: 101px;
  margin: 5px;
  border: 1px solid green;
}

.preview101 > svg {
  width: 100%;
  height: 100%;
  padding: 0;
}

.preview202 {
  width: 202px;
  height: 202px;
  margin: 5px;
  border: 1px solid green;
}

.preview202 > svg {
  width: 100%;
  height: 100%;
  padding: 0;
}

.editbuttons {
  margin-block: 20px;
}

.editbuttons input[type=radio] {
  opacity: 0;
  width: 0;
  height: 0;
}

.editbuttons input[type=radio] + img {
  outline: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.editbuttons input[type=radio]:checked + img {
  border-radius: 5px;
  border: 2px solid #f00;
}

.editbuttons .ms-drop input[type=checkbox] {
  display: unset;
}

.editbuttons input[type=checkbox] {
  display: none;
}

.editbuttons input[type=checkbox] + img {
  display: inline-block;
  outline: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.editbuttons input[type=checkbox]:checked + img {
  border-radius: 5px;
  border: 2px solid #f00;
}

.editbuttons select {
  display: inline-block;
  height: 32px;
  width: 64px;
}

input[type=image] {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border: 2px solid #888;
}

.functions {
  padding: 0
}

input[type="range"] {
  width: 512px;
}

.vslider {
  position: absolute;
  top: 256px;
  left: 276px;
  transform: rotate(90deg);
}

.tagcontainer {
  display: flex;
  flex-flow: row wrap;
}

.tag {
  pointer-events: none;
  background-color: cornflowerblue;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-family: system-ui;
  font-size: x-large;
}

.tag::before {
  pointer-events: all;
  display: inline-block;
  content: 'x';  
  height: 30px;
  width: 30px;
  margin-right: 5px;
  text-align: center;
  color: white;
  background-color: blueviolet;
  border-radius: 5px;
  cursor: pointer;
}

ol {
  list-style-type: decimal;
  margin-left: 1em;
}